body{
    background-color: #f3f3f3;
}

#buildinfo{

    font-family: monospace;
    font-size: 10pt;
}

#controlPanel{

    position: relative;
    top: 30px;
    left: 5%;

    min-height: 40px;
    min-width: 300px;

    display: inline;
}

#keyLegend{

    display: inline;
    font-size: 8pt;

    position: relative;
    top: 30px;
    left: 15%;
}

.textReader{

    color: #040404;

    line-height: 1.6;
    font-size: 18px;

    max-width: 650px;
    margin: 40px auto;
}

.textloader{

    width: 180px;
    height: 40px;

    display: block;

    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;

    background-color: #767fe6;

    font-family: sans-serif;
    font-weight: bold;
    color: white;

    cursor: pointer;
}

#rereadButton{

    width: 180px;
    height: 40px;

    display: block;

    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;

    background-color: #69b56c;

    font-family: sans-serif;
    font-weight: bold;
    color: white;

    cursor: pointer;
}

.jsondownloader{

    width: 180px;
    height: 40px;

    display: block;

    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;

    background-color: red;

    font-family: sans-serif;
    font-weight: bold;
    color: white;

    cursor: pointer;
}

.wordBox{

    display: inline;
    white-space: pre;
}

.charBox{

    display: inline;
    white-space: pre;
    width: 1em;

    font-family: monospace;
}

.previouslyHighlighted{

    background-color: #f0f08c;
}

#cursor{

    background-color: lightgreen;
}

.textMark{

    background-color: orange;
}

.subjectMark{

    background-color: #db6f59;
}

.relationMark{

    background-color: #69b56c;
}

.objectMark{

    background-color: #5991db;
}
